
body{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}
.card{
    margin-left: 250px;
    margin-right: 250px;
    border: solid 1px #5C7AEA;
}
section{
    margin-left: 15px;
    margin-bottom: 35px;
    margin-right: 15px;
}
.card-header{
    background-color: #5C7AEA;
}
hr{
    background-color: #5C7AEA;
    
}
h5{
    margin-bottom: 20px;
}