
body{
    font-family: 'Poppins', sans-serif;
}
input {
    border: 2px solid #ccc;
    font-size: 1.5rem;
    font-weight: 100;
    font-family: 'Lato';
    padding: 10px;
}
 
form {
    margin: 25px auto;
    margin-top: 130px;
    padding: 20px;
    border: 5px solid #ccc;
    width: 350px;
    background: #C9CCD5;
    background-color: rgba(201,204,213,0.8);
    border:1px solid rgb(12, 12, 12);
    border-radius: 1em;
    text-align: center;
    height: 450px;
}
 p{
    padding:  15px;
   
 }
 p.success,
p.error {
    color: white;
    font-family: lato;
    background: yellowgreen;
    display: inline-block;
    padding: 2px 10px;
}
p.error {
    background: rgb(89, 0, 255);
} 
body{
    background-image: url(../img/salvatierraGto.jpg);
    background-size: cover;
    background-position:center ;
    background-repeat: no-repeat;
}


.input-group-prepend span{
    width: 50px;
    height: 40px;
    background-color: #4B6587;
    color: black;
    border:0 !important;
    font-size: 25px;  
}
.icon{
    position: absolute;
    z-index:1;
    top: 70px;
    width: 145px;
    height: 145px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #D8E3E7;
}
.brand_logo{
    font-size: 90px;
    color: #4B6587;
    margin-left: 34px;
    margin-top: 100px;
    
}
