
#user-container #side-menu{
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: 400px;
    border-right: solid 1px #ddd;
}
body{
    font-family: 'Poppins', sans-serif;
}

#user-container #user-header{
    background-color: rgb(34, 46, 63);
    padding: 40px;
}
#user-container #user-info-container{
    display: flex;
    align-items: center;
}
#user-container #user-info-container #user-photo img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
#user-container #user-info-container #user-info{
    padding-left: 20px;
}
#user-container #user-info-container #user-info h2{
    color: white;
}
#user-container #side-menu ul{
    margin: 0;
    padding: 0;
}
#user-container #side-menu ul li{
    list-style: none;
    margin: 0;
    padding: 0;
}
#user-container #side-menu ul li a{
    color: #222;
    display: block;
    margin: 0;
    padding: 15px 10px;
    border-bottom: solid 1px rgb(243, 237, 237);
}
#user-container #side-menu ul li a:hover{
    background-color: var(--hover-menu);
    color: black;
    text-decoration: none;
}
#user-container #side-menu ul li a:active{
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
}

#user-section-container{
    display: inline-block;
    vertical-align: top;
    width: 400px;
    padding: 0 20px;
    margin: 0 auto;
}
#main{
    padding: 20px 0;
    width: 500px;
    margin: 0 auto;
}
.container{
    border-radius: 20px;
    overflow: hidden;
    margin: 50px auto;
    background-color: white;
    width: 900px;
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
    box-sizing: border-box;
}

.section{
    padding: 20px 0;
    border-bottom: dotted 1px #ccc;
}

.option-active{
    background-color: var(--primary-color) !important;
    color: white !important;
    text-decoration: none;
}
.name{
    padding-bottom: 17px;
    padding-right: 10px;
    display:inline-block;
    color: #224abe;
  }
  .photo{
    padding-bottom: 17px;
    size: 50px;
    display:inline-block;
    color: #224abe;
  
  }
